<%= render 'shared/errors', obj: @post %>

<div class='well'>
  <%= form_for @post do |f| %>
  <%= label_tag 'title', 'Title' %>
  <%= f.text_field :title %> <br />
  <%= label_tag 'url', 'URL' %>
  <%= f.text_field :url %> <br />
  <%= label_tag 'description', 'Description' %>
  <%= f.text_area :description, rows: 5 %> <br />
  <%= f.submit @post.new_record? ? 'Create Post' : 'Edit Post', class: 'btn btn-primary'  %>
  <% end %>
</div>