<%= render 'shared/title', title: 'All Posts' %>
<p> <span class ="small"> <%= link_to "[create new post]", new_post_path %> </span></p>

<% @posts.each do |post| %>
  <div class="row">
    <div class="span8 well">
    <%= render post.categories %>

      <h4><%= link_to post.title, post_path(post)%></h4>
      <p><%= post.description%></p>
      <p>
        <span class="quiet">posted by 
          <%=post.creator.username if post.creator %>     
        </span>
        <small>Created at: <%= post.created_at %> </small>
      </p>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </div>
  </div>
  <% end %>