  <%if logged_in?%>
<p> Welcome <%= current_user.username %>
<%end%>
<%= render 'shared/title', title: 'All Posts' %>
<% if logged_in? %>
<p> <span class ="small"> <%= link_to "[create new post]", new_post_path %> </span></p>
<% end%>
<% @posts.each do |post| %>

  <div class="row">
    <div class="span0 well">
      <%= link_to vote_post_path(post, vote: true), method: :post do %>
      <% if logged_in? %>
          <i class="icon-arrow-up"></i>
          <%end%>
       <%end%>
      <br/>
      <span> <%= post.total_votes %> votes</span>
      <br/>
       <%= link_to vote_post_path(post, vote: false), method: :post do %>
       <% if logged_in? %>
          <i class="icon-arrow-down"></i>
        <%end%>
      <%end%>
    </div>
    <div class="span8 well">
    <%= render post.categories %>

      <h4><%= link_to post.title, post_path(post)%></h4>
      <p><%= post.description%></p>
      <p>
        <span class="quiet">posted by 
          <%=post.creator.username if post.creator %>     
        </span>
        <small>Created at: <%= display_datetime(post.created_at) if post.created_at  %> </small>
      </p>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </div>
  </div>
  <% end %>