<%= render @post.categories %>

<%= render 'shared/title', title: @post.title %>

<p> <%= @post.url %> </p>

<p>
<%= @post.description %> 
</p>
<p class = "small">
<%= link_to "[edit post]", edit_post_path %>
<%= link_to "[create new post]", new_post_path %>
</p>