<%= render @post.categories %>
<%= render 'shared/title', title: @post.title %>
<p class = "small">
<% if logged_in? %>
  <%= link_to "[edit post]", edit_post_path(@post) %>
  <%= link_to "[create new post]", new_post_path %>
  </p>
  <br />
<%end%>
  <p> <%= link_to @post.url, fixurl(@post.url) %> </p>
  <p>
  <%= @post.description %> 
  </p>


<% if logged_in? %>
  <%= render 'shared/errors', obj: @comment %>  
    <div class="span8 well">
    <%= form_for [@post, @comment] do |f| %>
       <%= f.label 'Comment' %>
       <%= f.text_area :body, rows: 5 %> <br />
    <%= f.submit 'Submit Comment', class: 'btn btn-primary'  %>
    <% end %>
  </div>
<%end%>



  <% @post.comments.each do |msg| %>
 
    
    <div class="row">
      <div class="well span0">
      <%= link_to vote_post_comment_path(@post, msg, vote: true), method: :post do %>
      <i class = "icon-arrow-up"></i>
      <%end %>
      <br/>
      <%=link_to vote_post_comment_path(@post, msg, vote: false), method: :post do %>
      <i class="icon-arrow-down"></i>
      <%end%>
    </div>
  <div class = "well span6">
    <%= msg.body%>
    by <%= msg.user.username if msg.user%>
  </div>
</div>

  <%end %>

