<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Categories', new_category_path %>
  </li>
  <li>
    <%= link_to 'Register', '/register' %>
  </li>

  <% if logged_in? %>
  <li>
    <%= link_to 'Logout', '/logout'%>
  </li>
  <% else %>
   <li>
    <%= link_to 'Login', '/login'%>
  </li>
  <% end %>

</ul>

